@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(177, 185, 255);
}

button {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border: 2px solid plum;
  background-color: rgb(219, 206, 238);
  color: plum;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

#form {
  display: flex;
  gap: 12px;
}

#form input {
  width: 200px;
  border-radius: 6px;
  border: 1px solid plum;
  padding-left: 8px;
}

#form input:focus {
  outline: none;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}
